@import '_global.scss';

queue-list {
	display: block;

	ul {
		list-style: none;
		margin: 0;
		padding: 0;

		li {
			padding: 15px;
			border-bottom: 1px solid $c-primary;
			font-weight: 600;
			display: flex;
			align-items: center;

			&:hover {
				cursor: pointer;
				background: darken($c-grey, 5%);
			}

			img {
				margin-right: 15px;
			}

			p {
				font-size: 140%;
				margin: 0;
			}
		}
	}
}
